# Node dependencies
node_modules/

# Puppeteer local Chromium binaries
**/.local-chromium/

# WhatsApp auth/cache
.wwebjs_cache/

# Env files
.env

# Backup or temporary git folders
Ai-wa-backup.git/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
